.page-btn {
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    color: $merino;
    border:0;
    padding: 20px 35px;
    margin: 25px 15px;
}
.page-btn__orange {
    background-color: $burnt-sienna;
}