$affair:#87509c;
$dark-affair:#643a79;
$burnt-sienna:#eb7d4b;
$botticelli:#c8d9e5;
$fiord:#3c4761;
$ziggurat:#bdd1df;
$picton-blue:#30bae7;
$cream-brulee:#ffdd99;
$rob-roy:#EBC985;
$mountain-meadow:#17C2A4;
$cabaret:#D74680;
$chambray:#3C5499;
$astronaut:#273A71;