@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
.page-text__s{
    font-size: 16px;
}
.page-text__m{
    font-size: 18px;
}
.page-text__l{
    font-size: 24px;
}
.page-text__xl {
    font-size: 42px;
    font-weight: 700;
}
