.page-footer {
  background-color: $light-chambray;
  padding: 10px;
  .page-footer__list {
    .page-footer__item {
      padding: 10px;
      .page-footer__link {
        color: $ziggurat;
        &:hover {
          color: $mountain-meadow;
        }
        &:active {
          color: $mountain-meadow;
        }
      }
    }
  }
}
