.testimonials-section {
    background-color: $cabaret;
    
    .page-item__text-box{
        .page-text__m{
            font-style: italic;
        }
        .page-text__s{
            color: $rob-roy;
        }
        
    }
}